.container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;

}
.icon{
  font-size: 3rem;
  width: 5%;
  height: 8%;
  color: var(--color-2);
}
