<app-loading></app-loading>
<div class="container">
    <div class="profile-image banner">
        <div class="detail">
            <span>
                <img src="https://picsum.photos/300/200" alt="">
            </span>
            <span class="name">
                <div>Nguyễn Văn A</div>
            </span>
        </div>
    </div>
    <div class="information-container">
        <div>
            <div>
                <span>About</span>
                <div class="about">
                    asdasdasdasdasd
                    asdasdasdasdasd
                </div>
                <span>Contact</span>
                <div class="contact">
                    asdasdasdasdasd
                    asdasdasdasdasd
                    asdasdasdasdasd
                </div>
            </div>
            <div class="documents">
                <span>Documents</span>
                <div>
                    asdasdasdasdasd
                    asdasdasdasdasd
                    asdasdasdasdasd
                    asdasdasdasdasd
                    asdasdasdasdasd
                    asdasdasdasdasd
                </div>
            </div>
        </div>
    </div>
</div>