<app-loading></app-loading>
<app-navbar></app-navbar>
<div class="container" *ngIf="user; else notExist">
    <ng-container *ngIf="currentUser?.uid === id">
        <div class="banner-edit">
            <div>
                <button mat-icon-button [matMenuTriggerFor]="banner">
                    <mat-icon>edit</mat-icon>
                </button>
                <mat-menu #banner="matMenu">
                    <button mat-menu-item>
                        <span class="menu-item" (click)="openViewImage(user.bannerURL)">View Image</span>
                    </button>
                    <button mat-menu-item (click)="openEditBanner()">
                        <span class="menu-item">Edit Image</span>
                    </button>
                </mat-menu>
            </div>
        </div>
    </ng-container>
    <div class="banner" #banner (click)="openViewImage(user.bannerURL)">
        <img [src]="this.user.bannerURL">
    </div>
    <div class="profile-image">
        <div class="detail">
            <span>
                <ng-container *ngIf="currentUser?.uid === id; else noaccess">
                    <img [src]="user.photoURL" alt="avatar" class="change" [matMenuTriggerFor]="avatar">
                    <mat-menu #avatar="matMenu">
                        <button mat-menu-item>
                            <span class="menu-item" (click)="openViewImage(user.photoURL)">View Image</span>
                        </button>
                        <button mat-menu-item (click)="openEditAvatar()">
                            <span class="menu-item">Edit Image</span>
                        </button>
                    </mat-menu>
                </ng-container>
                <ng-template #noaccess>
                    <img class="avatar-no-access" [src]="user.photoURL" alt="avatar"
                        (click)="openViewImage(user.photoURL)">
                </ng-template>
            </span>
            <span class="name">
                <div>{{user.displayName}}</div>
            </span>
        </div>
    </div>
    <div class="information-container">
        <div>
            <div>
                <div class="bio-head">
                    <span>Bio</span>
                    <ng-container *ngIf="currentUser">
                        <button mat-icon-button (click)="openEditBio()" *ngIf="currentUser.uid === id">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </ng-container>
                </div>
                <div class="bio">
                    {{user.bio}}
                </div>
                <div class="job-head">
                    <span>Job</span>
                    <ng-container *ngIf="currentUser">
                        <button mat-icon-button (click)="openEditJob()" *ngIf="currentUser.uid === id">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </ng-container>
                </div>
                <div class="job">
                    <div *ngFor="let job of user.job">
                        <mat-icon matListItemIcon>work</mat-icon>
                        <div>{{job}}</div>
                    </div>
                </div>
            </div>
            <div class="documents">
                <span>Documents</span>
                <div>
                    <div *ngFor="let doc of documents">
                        <ng-container *ngIf="doc.isPublic">
                            {{doc.name}}
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notExist>
    <div>
        this profile is not available
    </div>
</ng-template>