.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}

$max-width: 1200px;
$banner-height-pc: 400px;
$banner-height-mobile: 300px;
$avatar-pc: 200px;
$avatar-mobile: 150px;

.banner,
.banner-edit {
    position: absolute;
    width: 100%;
    height: $banner-height-pc;

    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
        transition: all 0.2s ease-in-out;
    }
}

.banner {
    z-index: 0;

    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-color: gray;

    box-shadow: 2px 0px 150px 50px rgba(var(--color-4-rgb), $alpha: 0.5) inset;

    img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        object-fit: cover
    }
}

.banner-edit {
    z-index: 3;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;

    &>div {
        color: var(--color-1);
        margin-top: 64px;
        z-index: 4;

        &>button>mat-icon {
            color: white;
        }
    }

}

.profile-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;

    .detail {
        display: flex;
        flex-direction: row;
        width: $max-width;
        height: 100%;

        transition: all 0.2s ease-in-out;
        margin-top: calc($banner-height-pc - $avatar-pc / 2);
        z-index: 1;

        &>span>img {
            width: $avatar-pc;
            height: $avatar-pc ;
            border-radius: 50%;
            margin: 0 10px;
            background-color: grey;
            border: 5px solid var(--color-5);
            box-shadow: 0px 0px 10px 0px rgba(var(--color-1-rgb), $alpha: 0.5);
        }

        &>.name {
            display: flex;
            align-items: flex-end;

            div {
                margin: calc($avatar-pc / 4) 2rem;
                color: var(--color-4);
                font-size: 1.5em;
                font-weight: 800;
            }
        }

        .change {
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(0.8);
                cursor: pointer;
                transition: all 0.2s ease-in-out;
            }

            &>:active {
                filter: brightness(0.6);
                transition: all 0.2s ease-in-out;
            }
        }
    }

}

.avatar-no-access {
    cursor: pointer;

    &:hover {
        filter: brightness(0.8);
        transition: all 0.2s ease-in-out;
    }

    &>:active {
        filter: brightness(0.6);
        transition: all 0.2s ease-in-out;
    }
}

.menu-item {
    display: flex;
    justify-content: center;

    width: calc($avatar-pc - 32px) !important;
}


$padding-pc: 2rem;
$padding-mobile: 1rem;

.information-container {
    height: 100%;
    width: 100%;

    transition: all 0.2s ease-in-out;

    &>div {
        width: $max-width;
        height: 100%;

        margin: 0 auto;

        display: flex;
        flex-direction: row;


        &>div {
            padding: $padding-pc calc($padding-pc / 2);
            width: calc(30% - #{$padding-pc});
            height: 100%;
        }

        &>.documents {
            padding: $padding-pc calc($padding-pc / 2);
            width: calc(70% - #{$padding-pc});

            min-height: auto;
        }

        &>div {
            display: flex;
            flex-direction: column;

            span {
                font-size: 1.3em;
                font-weight: 800;
                color: var(--color-4);
                margin-top: 1rem;
                margin-bottom: 0.5rem;
            }
        }

        .bio,
        .job,
        .documents>div {
            background-color: var(--color-1);
            border-radius: 10px;

            padding: 1rem;
            font-size: 1rem;

            box-shadow: 2px 2px 4px 0px rgba(var(--color-4-rgb), $alpha: 0.5);
            flex: 1 1 auto
        }

        .job {
            display: flex;
            flex-direction: column;

            &>div {
                color: var(--color-4);

                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                margin: 0.5rem;

                &>mat-icon {
                    padding-right: 1rem;
                }
            }
        }


        .bio-head,
        .job-head {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            button {
                color: rgba($color: var(--color-4-rgb), $alpha: 0.5);
                transition: all 0.2s ease-in-out;

                &:hover {
                    color: var(--color-4);
                    transition: all 0.2s ease-in-out;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .profile-image {
        .detail {
            width: 100%;
            flex-direction: column;
            align-items: center;

            transition: all 0.2s ease-in-out;

            &>.name {
                display: flex;
                align-items: center;

                div {
                    margin-top: 1rem;
                    padding: 0rem;
                }
            }
        }
    }

    .information-container {
        &>div {
            width: 100%;
            flex-direction: column;

            &>div,
            &>.documents {
                padding: $padding-mobile calc($padding-mobile * 2);

                width: calc(100% - #{$padding-mobile * 4});
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .banner,
    .banner-edit {
        height: $banner-height-mobile;
    }

    .profile-image {
        .detail {
            margin-top: calc($banner-height-mobile - $avatar-mobile/2);

            &>span>img {
                width: $avatar-mobile;
                height: $avatar-mobile;
            }

            &>.name {
                div {
                    font-size: 1.2em;
                    margin: 2rem;
                }
            }
        }
    }

    .information-container {
        &>div {

            .bio,
            .job,
            .documents>div {
                font-size: 0.75rem;
            }
        }
    }

    .menu-item {
        width: calc($avatar-mobile) !important;
    }
}