<app-loading></app-loading>
<div class="container" *ngIf="user; else notExist">
    <div class="profile-image banner">
        <div class="detail">
            <span>
                <img [src]="user.photoURL" alt="">
            </span>
            <span class="name">
                <div>{{user.displayName}}</div>
            </span>
        </div>
    </div>
    <div class="information-container">
        <div>
            <div>
                <div class="bio-head">
                    <span>Bio</span>
                    <button mat-icon-button (click)="openEditBio()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="bio">
                    {{user.bio}}
                </div>
                <div class="job-head">
                    <span>Job</span>
                    <button mat-icon-button (click)="openEditJob()">
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="job">
                    <div *ngFor="let job of user.job">
                        <mat-icon matListItemIcon>work</mat-icon>
                        <div>{{job}}</div>
                    </div>
                </div>
            </div>
            <div class="documents">
                <span>Documents</span>
                <div>
                    <div *ngFor="let doc of documents">
                        <ng-container *ngIf="doc.isPublic">
                            {{doc.name}}
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notExist>
    <div>
        this profile is not available
    </div>
</ng-template>