<div class="container">

  <div class="close">
    <button mat-icon-button (click)="close()">
      <mat-icon matTooltip="Close">close</mat-icon>
    </button>
  </div>

  <div class="header">
    <h2>Create new document</h2>
  </div>

  <div class="step">
    <mat-stepper #stepper linear>

      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel><span class="step-label">Fill out document name</span></ng-template>
          <mat-form-field class="input-container" appearance="outline">
            <mat-label class="input-fs">Document name</mat-label>
            <input class="input-fs" matInput placeholder="Enter document name" formControlName="firstCtrl" required>
          </mat-form-field>
          <mat-dialog-actions align="end">
            <button mat-button mat-dialog-close class="default-btn">Cancel</button>
            <button mat-button (click)="createDoc()" class="default-btn">Create</button>
          </mat-dialog-actions>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel><span class="step-label">Creating document</span></ng-template>
        <app-loading [inputData]="'Please wait'" [loading]="true"></app-loading>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel><span class="step-label">Done</span></ng-template>
        <p>The document has been created !</p>
        <mat-dialog-actions align="end">
          <button mat-button (click)="close()" class="default-btn">Ok</button>
        </mat-dialog-actions>
      </mat-step>

    </mat-stepper>
  </div>
</div>

<!-- <div>
  <div>
    <div mat-dialog-title class="header">
    </div>
    <mat-dialog-content class="dialog-container">

      <mat-stepper #stepper linear>
        

        

  </div>
</div> -->