.container {
  padding: 1rem;
  width: 500px;
}

.close,
.header {
  display: flex;
  align-items: center;
}

.close {
  justify-content: flex-end;
}

.header {
  justify-content: center;
  margin-bottom: 1rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--color-4);
  }
}

.step {
  width: 100%;


  &>mat-stepper {

    .step-label {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--color-4);
    }

    .input-fs {
      font-size: 1rem;
    }

  }

  .default-btn {
    font-weight: 600;
    padding: 1rem 2rem;
    background-color: var(--color-1);
    color: var(--color-4);
    box-shadow: 1px 1px 1px 1px rgba(var(--color-4-rgb), 0.25);
  }

  .input-container {
    width: 100%;
  }
}


@media screen and (max-width: 768px) {
  .container {
    width: calc(100% - 2rem);
  }
}

@media screen and (max-width: 500px) {
  .header {
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1.2rem;
    }
  }

  .step {
    &>mat-stepper {
      width: 100%;

      .step-label {
        display: none;
      }
    }

    .default-btn {
      padding: 0.5rem 1rem;
      font-size: 0.75rem;
    }

    .input-fs {
      font-size: 0.75rem;
    }

  }
}

@media screen and (max-width: 400px) {
  .container {
    width: calc(100%);
    padding: 0;
  }

  .header {
    h2 {
      font-size: 0.95rem;
    }
  }

  .step {
    .default-btn {
      padding: 0.5rem 0.5rem;
      font-size: 0.65rem;
    }
  }
}