.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin:1%;

}
.input-container{
  width: 100%;
}
