<div class="container">

  <div class="status-container" *ngIf="(this.doc$|async)?.loading==true">
    <app-loading [inputData]="'Getting your documents'" [loading]="true"></app-loading>
  </div>

  <div class="status-container-status" *ngIf="(this.doc$|async)?.loading==false&&(this.doc$|async)?.error!=''">
    <app-status></app-status>
  </div>
  <div class="tab-container">
    <h2>All Document</h2>
    <button mat-button matTooltip="Create" (click)="openCreateDialog()">
      <mat-icon>add_circle</mat-icon>
      <span>New Document</span>
    </button>
  </div>
  <div class="main-container" *ngIf="(this.doc$|async)?.loading==false&&(this.doc$|async)?.error==''">
    <div class="item-container" *ngFor="let doc of (this.doc$|async)?.documents">
      <div class="icon-container" *ngIf="!doc.isDelete">
        <div>
          <button mat-icon-button>
            <mat-icon matTooltip="Edit">edit</mat-icon>
          </button>
          <button mat-icon-button>
            <mat-icon>star</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button (click)="changeDocDeleted(doc.id,true)">
            <mat-icon matTooltip="Delete">close</mat-icon>
          </button>
        </div>
      </div>
      <div class="icon-container" *ngIf="doc.isDelete">
        <div>
          <button mat-icon-button (click)="changeDocDeleted(doc.id,false)">
            <mat-icon matTooltip="Restore">settings_backup_restore</mat-icon>
          </button>
        </div>
        <div>
          <button mat-icon-button>
            <mat-icon matTooltip="Delete">close</mat-icon>
          </button>
        </div>
      </div>

      <div class="thumbnail">
        <img src="../../../../../assets/Logo.svg" alt="" class="doc-img" (click)="navigateToDoc(doc.id)">
      </div>

      <div class="item-info">
        <div>
          <span class="title" matListItemTitle (click)="navigateToDoc(doc.id)">{{doc.name}}</span>
          <span class="time">
            <span>Created:<span>{{this.shareFunctionService.convertDateTime(doc.dateCreated)}}</span></span><br>
            <span>Modify:<span>{{this.shareFunctionService.convertDateTime(doc.dateCreated)}}</span></span>
          </span>
        </div>
      </div>

    </div>
  </div>
</div>