.container {
  width: 100%;
  height: 100%;
}

.tab-container {
  $margin-side: 3rem;
  width: calc(100% - #{$margin-side} * 2);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 1rem $margin-side;

  h2,
  button {
    color: var(--color-4);
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  button {
    padding: 1.25rem 1.5rem;
    background-color: var(--color-1);
    box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.25);

    span {
      font-size: 1.1rem;
      font-weight: 500;
    }

    mat-icon {
      font-size: 1.1rem;
    }
  }
}

$card-pc: 350px;
$card-mobile-medium: 250px;
$card-mobile: 150px;

$card-gap-pc: 10px;
$card-gap-mobile-medium: 5px;
$card-gap-mobile: 2px;


.main-container,
.main-container-recently {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, $card-pc);
  gap: $card-gap-pc;
}

.item-container {
  background-color: var(--color-1);
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.25);
  width: 100%;

  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    &>div>button {
      color: var(--color-4);
    }
  }

  .thumbnail {
    background-color: #FFF;
    padding: 5rem 5rem;
  }

  .item-info {

    padding: 1rem;

    .title,
    .time {
      width: 100%;
      display: flex;
      flex-direction: row;
    }

    .title {
      color: var(--color-4);
      font-size: 1.2rem;
      font-weight: 600;

      justify-content: center;
      margin-bottom: 1rem;
    }

    .time {
      color: rgba($color: #000, $alpha: 0.5);
      font-size: 0.7rem;
      font-weight: 500;

      justify-content: space-between;
    }
  }

  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    animation: dynamic 0.5s ease-in-out;
  }

  &:active {
    cursor: pointer;
    filter: brightness(0.9);
  }
}


@media screen and (max-width: 768px) {
  .tab-container {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0rem 10px;

    h2 {
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    button {
      margin-bottom: 1rem;
    }
  }

  .main-container,
  .main-container-recently {
    grid-template-columns: repeat(auto-fit, $card-mobile-medium);
    gap: $card-gap-mobile-medium;
  }


  .item-container {
    .thumbnail {
      background-color: #FFF;
      padding: 2rem 2rem;
    }
  }

  .item-info {
    .title {
      font-size: 1rem;
    }
  }
}




@keyframes dynamic {
  0% {
    transform: scale(1);
    filter: brightness(1);
  }

  50% {
    transform: scale(1.005);
    filter: brightness(1.01);
  }

  100% {
    transform: scale(1);
    filter: brightness(1);
  }
}