<mat-toolbar>
  <div class="back-share">
    <button mat-icon-button>
      <mat-icon (click)="back()">
        arrow_back
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="openShareDialog()">share</mat-icon>
    </button>
  </div>
  <div class="filename">
    <span class="spacer"></span>
    <span>
      <ng-container *ngIf="document; else diffName">{{document.name}}</ng-container>
      <ng-template #diffName>{{(store$ | async)?.document?.name}}</ng-template>
    </span>
    <button mat-icon-button (click)="openEditNameDialog()"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="saveFile()"><mat-icon>save</mat-icon></button>
  </div>
  <div class="watcher">
    <img src="../../../../../assets/document-icon.png">
    <img src="../../../../../assets/document-icon.png">
    <img src="../../../../../assets/document-icon.png">
    <img src="../../../../../assets/document-icon.png">
  </div>
</mat-toolbar>
<quill-editor [modules]="quillModule" #quillEditor></quill-editor>