<mat-toolbar>
  <div class="back-share">
    <button mat-icon-button>
      <mat-icon (click)="back()">
        arrow_back
      </mat-icon>
    </button>
    <button mat-icon-button>
      <mat-icon (click)="openShareDialog()">share</mat-icon>
    </button>
  </div>
  <div class="filename">
    <span>
      <button [matMenuTriggerFor]="buttonExpand" mat-icon-button class="button-expand">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #buttonExpand="matMenu">
        <button (click)="openEditNameDialog()" mat-menu-item>Edit Name</button>
        <button (click)="saveFile()" mat-menu-item>Save File</button>
      </mat-menu>
    </span>
    <span class="spacer"></span>
    <span class="name">
      <ng-container *ngIf="document; else diffName">{{document.name}}</ng-container>
      <ng-template #diffName>{{(store$ | async)?.document?.name}}</ng-template>
    </span>
    <button mat-icon-button (click)="openEditNameDialog()"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="saveFile()"><mat-icon>save</mat-icon></button>
  </div>
  <div class="watcher">
    <img src="../../../../../assets/document-icon.png">
    <img src="../../../../../assets/document-icon.png">
    <img src="../../../../../assets/document-icon.png">
  </div>
</mat-toolbar>
<quill-editor [modules]="quillModule" #quillEditor></quill-editor>