.mat-toolbar {
  width: 100%;
  background-color: var(--color-1);

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;

  top: 0;
  z-index: 1000;

  &>div {
    margin: 0rem 2rem;
  }
}

.back-share {
  &>button>mat-icon {
    color: var(--color-4);
    font-weight: 700;
  }
}



.filename {
  display: flex;
  align-items: center;

  &>span {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-4);
  }

  $size-icon: 1rem;
  $button-gap: 0.5rem;

  &>.spacer {
    width: calc(4 * $size-icon + 2 * $button-gap);
  }

  &>button {
    font-weight: 500;
    color: var(--color-4);

    height: calc($size-icon * 2) !important;
    width: calc($size-icon * 2) !important;
    padding: 0;
    margin-left: $button-gap;

    .mat-icon {
      width: $size-icon;
      height: $size-icon;
      font-size: $size-icon;
    }
  }

}


.watcher {
  &>img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0rem -0.5rem;

    background-color: azure;
  }
}