<mat-toolbar>
  <div class="back-share">
    <button mat-icon-button (click)="back()">
      <mat-icon>
        arrow_back
      </mat-icon>
    </button>
    <button mat-icon-button (click)="openShareDialog()"*ngIf="(this.store$|async)?.document?.uid===this.authService.currentUser?.uid">
      <mat-icon>share</mat-icon>
    </button>
  </div>
  <div class="filename">
    <span>
      <button [matMenuTriggerFor]="buttonExpand" mat-icon-button class="button-expand">
        <mat-icon>expand_more</mat-icon>
      </button>
      <mat-menu #buttonExpand="matMenu">
        <button (click)="openEditNameDialog()" mat-menu-item *ngIf="(this.store$|async)?.document?.uid===this.authService.currentUser?.uid">Edit Name</button>
        <button (click)="saveFile()" mat-menu-item>Save File</button>
      </mat-menu>
    </span>
    <span class="spacer"></span>
    <span class="name">
      <ng-container *ngIf="document; else diffName">{{document.name}}</ng-container>
      <ng-template #diffName>{{(store$ | async)?.document?.name}}</ng-template>
    </span>
    <button mat-icon-button (click)="openEditNameDialog()" *ngIf="(this.store$|async)?.document?.uid===this.authService.currentUser?.uid"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button (click)="saveFile()"><mat-icon>save</mat-icon></button>
  </div>
  <div class="watcher" *ngIf="this.users !=[]">
    <img *ngFor="let user of this.users" [src]="user.photoURL">

  </div>
</mat-toolbar>
<quill-editor [modules]="quillModule" #quillEditor></quill-editor>
