<mat-toolbar [ngClass]="{'hide': !isTop}" class="fixed">
    <span class="logo">
        <img src="../../../assets/Logo.svg" alt="logo" width="60px">
        <span class="write">Write</span>
        <span class="flow">Flow</span>
    </span>
    <span class="spacer"></span>
    <span>
        <a href="">Community</a>
        <a href="">Support</a>
        <a href="">About</a>
    </span>
    <span class="spacer"></span>
    <span>
        <button mat-button class="button register">Register</button>
        <button mat-button class="button login">Login</button>
    </span>
</mat-toolbar>