.spacer {
    flex: 1 1 auto;
}

.fixed {
    position: fixed;
    z-index: 1000;
    transition: all 1s ease-in-out;
}

mat-toolbar {
    position: absolute;
    background-color: #fff;
    padding: 0px 50px;
}

mat-toolbar>span {
    font-size: 1rem;
    transition: all 0.3s ease-in-out;

    a {
        display: inline-block;

        margin: 0.5rem 1rem;

        color: var(--color-4);
        text-decoration: none;
        font-weight: 600;

        &:hover {
            text-decoration: underline;
        }
    }

    button {
        margin: 0.5rem 0.5rem;
        width: 120px;
    }

    &>span {
        display: flex;
        align-items: center;

        .avatar {
            $avatar-size: 40px;

            margin-left: 1rem;
            width: $avatar-size;
            height: $avatar-size;
            border-radius: 50%;

            &:hover {
                filter: brightness(0.8);
                cursor: pointer;
            }

            &:active {
                filter: brightness(0.6);
            }
        }
    }

    .login,
    .logout,
    .register {
        font-size: 16px;
        font-weight: 700;
        border-radius: 10px;
    }

    .register,
    .logout {
        color: var(--color-4);
        border: 1px solid rgba(var(--color-4-rgb), 0.2);
    }

    .login {
        color: var(--color-4);
        background-color: var(--color-1);
        box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.2);
    }

    .menu-item {

        mat-icon,
        span {
            color: var(--color-4);
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--color-4);
    margin-right: 0.5rem;
    cursor: pointer;

    img {
        width: 60px;
    }

    .write,
    .flow {
        font-size: 28px;
    }

    .write {
        font-weight: 500;
    }

    .flow {
        font-weight: 700;
    }
}

// For width < 850px
.app-container {
    top: 64px;
    height: calc(100% - 64px);
    margin: 0;
    position: fixed;
    background-color: transparent !important;
    z-index: 3;
}

.is-opened {
    opacity: 1;
    transition: all 0.4s ease-in-out;
    width: 100% !important;
}

.is-closed {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    width: 0% !important;
}

::ng-deep.mat-drawer-backdrop {
    background-color: transparent !important;
}

.menu-opener {
    color: var(--color-4);
    margin-right: 0.5rem;
}

$app-sidenav-width-pc: 300px;
$app-sidenav-width-mobile: 250px;

.app-sidenav {
    width: $app-sidenav-width-pc !important;
}

@media screen and (max-width: 600px) {
    .app-container {
        top: 56px;
        height: calc(100% - 56px);
    }

    .app-sidenav {
        width: $app-sidenav-width-mobile !important;
    }

    mat-expansion-panel-header {
        font-size: 0.8rem;
    }
}

.side-bar-button {
    width: 100%;
    height: 48px;
    padding: 0px 24px;
    margin: 0.5rem 0;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
        font-family: 'Open sans', 'sans-serif';
        color: var(--color-4);
        font-weight: 500;
        font-size: 1.1rem
    }
}

@media screen and (max-width: 1000px) {
    mat-toolbar {
        padding: 0px 20px;

        &>.logo {

            img {
                width: 40px;
            }

            .write,
            .flow {
                font-size: 20px;
            }
        }

        &>span button {
            margin: 0.5rem 0.5rem;
            width: 120px;
        }

        &>span {
            font-size: 0.8rem;

            a {
                display: inline-block;
                margin: 0.5rem 1.2rem;
            }

            .login,
            .logout,
            .register {
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .app-sidenav {
        width: $app-sidenav-width-mobile;
    }
}

@media screen and (max-width: 400px) {

    .menu-opener {
        margin: 0;
    }

    mat-toolbar {
        padding: 0px;

        &>.logo {

            img {
                width: 35px;
            }

            .write,
            .flow {
                font-size: 16px;
            }
        }
    }

    .login {
        width: 100px !important;
    }
}

@media screen and (max-width: 300px) {
    mat-toolbar {
        padding: 0px 5px;

        .login {
            width: 80px !important;
        }
    }
}