<app-loading [fixed]="true" [loading]="true" *ngIf="isLoading"></app-loading>
<mat-toolbar [ngClass]="{'hide': !isTop}" class="fixed">
    <span class="logo" (click)="navigateToHome()">
        <img src="../../../assets/Logo.svg" alt="logo" width="60px">
        <span class="write">Write</span>
        <span class="flow">Flow</span>
    </span>
    <span class="spacer"></span>
    <span>
        <a href="/community">Community</a>
        <a href="/support">Support</a>
        <a href="/about">About</a>
    </span>
    <span class="spacer"></span>
    <span>
        <span *ngIf="!(user$ |async); else isLogged">
            <button mat-button class="button register">Register</button>
            <button mat-button class="button login" (click)="openDialogLogin()">Login</button>
        </span>
        <ng-template #isLogged>
            <span>
                <button mat-button class="button logout" (click)="logout()">Logout</button>
                <img class="avatar" [src]="user?.photoURL" [alt]="user?.displayName" referrerpolicy='no-referrer'>
            </span>
        </ng-template>
    </span>
</mat-toolbar>