<!-- Doc-Navigation -->
 <div class="Doc-Navigation">
    <div class="Recent-New">
    <div class="Recent-Text"> Recent documents</div>
    <button mat-fab extended class="New-Button"> New + </button>
    </div>
    <input class="Find-Doc" type="text" placeholder="Type to find a document">

    <ul class="Doc-List">
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
        <div class="doc1"> <div mat-card-avatar class="header-image"></div> <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div> <div class="File-Name"> document1.docx </div></div>
    </ul>

</div>

<!-- Edit-Status -->
<div class="Edit-Status">

<div class="Person-Name"> Nguyễn Văn B from Team 2 edited</div>
<!-- grid -->
<div class="grid-container1">
  <div class="grid-item1-1">
    <div class="Img-DocStatus">
    <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div>
    <div class="Doc-When">
        <div class="Doc-Edited"> Team2/document1.docx</div>
        <div class="When-Edited"> Update Yesterday </div>
    </div>
        </div>
  </div>

    <div><button mat-fab extended class="Favorite-Button">
    <mat-icon>star_border</mat-icon>
    Favorite
  </button></div>
</div>
<!-- End grid -->

<div class="Person-Name"> Nguyễn Văn B from Team 2 edited</div>
<!-- grid -->
<div class="grid-container1">
  <div class="grid-item1-1">
    <div class="Img-DocStatus">
    <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div>
    <div class="Doc-When">
        <div class="Doc-Edited"> Team2/document1.docx</div>
        <div class="When-Edited"> Update Yesterday </div>
    </div>
      </div>
  </div>

    <div><button mat-fab extended class="Favorite-Button">
    <mat-icon>star_border</mat-icon>
    Favorite
  </button></div>
</div>
<!-- End grid -->

<div class="Person-Name"> Nguyễn Văn B from Team 2 edited</div>
<!-- grid -->
<div class="grid-container1">
  <div class="grid-item1-1">
    <div class="Img-DocStatus">
    <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div>
    <div class="Doc-When">
        <div class="Doc-Edited"> Team2/document1.docx</div>
        <div class="When-Edited"> Update Yesterday </div>
    </div>
        </div>
  </div>

    <div><button mat-fab extended class="Favorite-Button">
    <mat-icon>star_border</mat-icon>
    Favorite
  </button></div>
</div>
<!-- End grid -->

<div class="Person-Name"> Nguyễn Văn B from Team 2 edited</div>
<!-- grid -->
<div class="grid-container1">
  <div class="grid-item1-1">
    <div class="Img-DocStatus">
    <div><img class="document-img" mat-card-image src="../../../assets/document-icon.png"></div>
    <div class="Doc-When">
        <div class="Doc-Edited"> Team2/document1.docx</div>
        <div class="When-Edited"> Update Yesterday </div>
    </div>
        </div>
  </div>

    <div><button mat-fab extended class="Favorite-Button">
    <mat-icon>star_border</mat-icon>
    Favorite
  </button></div>
</div>
<!-- End grid -->

</div>
<!-- End Edit-Status -->
