@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
.DocList-Status{
    display: inline-block;
    bottom: 0;
    position:absolute;
}
.Status-Info{
    margin-top: 0.8rem;
   
}
.Recent-New{
    display: flex;
    margin-top: 1rem;
    font-size: 18px;
}
.doc1{
    display: flex;
    
}
.Recent-Text{
    color: #424874;
    font-weight: 500;
    margin-top: 0.3rem;
    margin-left: 1rem;
}
.Doc-When{
    margin-left: 1.2rem;
    color: #424874;
   
}
.Doc-Navigation{
    height:41rem;
   width: 22rem;
    //position: fixed;
   
    border: 2px;
    border-style:solid;
    border-radius: 10px;
    border-color: #424874;
    float: left;
}
.Edit-Status{
    height: 41.1rem;
    margin-left: 2rem;
    right: 4rem;
    float: left;
    border-radius: 10px; 
    border: solid 1px #424874;
    width: 67.5rem;
    
}
.grid-container1 {
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    border: solid #424874;
    border-radius: 10px;
    height: 1rem;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1.2rem;
    grid-column-gap: 41rem;
    
  }
  .Img-DocStatus{
    display: flex;
    margin-top: -1rem;
    margin-left: 0.2rem;
  }
.Doc-When{
    margin-top:0.35rem;
}
.Person-Name{
    margin-top:1.6rem;
    margin-left:3rem;
    font-size: 25px;
    color: #424874;
}
.New-Button{
    width:4rem;
    height:2rem;
    margin-left: 2rem;
    border-radius: 5px;
    margin-bottom: 0.2rem;
    color: #F4F6FF;
    background-color: #424874;
    font-size:18px;
}
.File-Name{
    margin-top:0.4rem;
}

.Doc-List{
 
    margin-bottom: 7rem;
    height:10rem;
}

.Find-Doc{
    margin-left: 1rem;
    margin-top: 0.5rem;
    margin-bottom: -1rem;
    width: 13.5rem;
    height: 1.6rem;
    color:#F9FAFF;
    border-color: rgba(var(--color-4-rgb), 0.25);
    border-radius: 5px;
    background-color: #F4F6FF;
    color: #424874;
    
}
.header-image {
    background-image: url("../../../assets/document-icon.png");
    background-size: cover;
   
}
.document-img{
    width: 2rem;
    //margin-top:0.5rem
}
.document-img1{
    width: 2rem;
    margin-top:0.5rem
}
.When-Edited{
    font-size:13px;
}
.Favorite-Button{
    margin-top: -3rem;
    border-radius: 10px;
    border-color: rgba(var(--color-4-rgb), 0.45);
    width: 7rem;
    font-size: 19px;
    color: #424874;
    background-color: #F4F6FF;
    font-size:20px;
   margin-left: 1rem;
}
.Star-Icon{
    margin-top:0.2rem;
}
.Icon-Text{
    display: flex;
}
.Favorite-Text{
    margin-left: 0.4rem;
    margin-top: 0.3rem;
}