h3{
  color: var(--color-4);
  font-size: 1.5rem;
  font-weight: 800;
}

.name{
  color: var(--color-4);
  font-weight: 600;
}

.container-all{
  padding: 1rem 2rem;
  width: 20vw;
  height: 60vh;
  background-color: var(--color-3);
  display: flex;
  align-items: center;
  flex-direction: column;
  // border-radius: 10px;
}

.full-width{
  width: 20vw;
  border-radius: 10px;
  font-size: small;
}

.keep-sign-in{
  font-size: 12px;
}

.forgot{
  width: 20vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;


  a{
    color: var(--color-4);
    font-weight: 700;
    text-decoration: none;
    margin-left: 10rem;
  }

}

.check-holder{
  display: flex;
  justify-content: space-between;
  width: 20vw;
  align-items: center;
}

.forgot-password{
  font-size:12px;
  text-decoration: none;
}


.login-button{
  display: flex;
  background-color: var(--color-5);
  border-radius: 10px;
  width: 20vw;
  background-color: #FFF;
  font-weight: 500;
  margin-top: 0.5rem;
}

.break-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20vw;


  margin-top: 1rem;

  .break{
    width: 50%;
    border-top: 1px solid var(--color-4);
  }

  .or{
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
  }
}

.button{
    border-radius: 50%;
  }

img{
  width: 30px;
}
