<div class="container">
  <div class="container-all">
    <div class="title">
      <h3>LOGIN</h3>
    </div>
      <mat-form-field class="full-width">
        <mat-label class="name">Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label class="name">Enter your password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <div class="check-holder">
          <section class="section">
          <mat-checkbox class="keep-sign-in">Keep me logged in</mat-checkbox>
          </section>
          <a href="#" class="forgot-password">Forgot password?</a>
      </div>

      <button mat-button class="login-button">LOG IN</button>

      <div class="break-container">
        <div class="break"></div>
        <div class="or">Or</div>
        <div class="break"></div>
      </div>

      <div class="other-login">
        <button mat-button class="button" (click)="this.loginWithGG()"> <img src="../../../assets/Google.svg" ></button>
        <button mat-button class="button"> <img src="../../../assets/Facebook.svg"></button>
      </div>
  </div>
</div>
