.container {
  padding: 3rem 2rem;
  background-color: var(--color-1);

  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 10px;
}

.title {
  &>h3 {
    color: var(--color-4);
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.full-width {
  width: 100%;

  border-radius: 10px;
  font-size: small;

  margin-bottom: 1rem;


  .name {
    color: var(--color-4);
    font-weight: 600;
    font-size: 1rem;
  }

  input {
    font-weight: 600;
    font-size: 1rem;
  }

}

.keep-sign-in {
  font-size: 12px;
}

.check-holder {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .section {
    margin-left: -10px;

    mat-checkbox {
      font-size: 0.75rem;
      font-weight: 600;

      &>span {
        color: var(--color-4);
      }
    }
  }

  &>a {
    color: var(--color-4);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.login-button {
  display: flex;
  background-color: var(--color-4);

  width: 100%;
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: var(--color-1);
  padding: 1.5rem 0rem;
}

.break-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 1rem;

  .break {
    width: 50%;
    border-top: 1px solid var(--color-4);
  }

  .or {
    font-size: 1rem;
    margin: 0 0.5rem 0 0.5rem;
  }
}

.button {

  margin: 1rem 0rem;
}

img {
  width: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 1rem 2rem;
  }
}


@media screen and (max-width: 600px) {
  .container {
    padding: 1rem 2rem;
  }

  .title {
    &>h3 {
      font-size: 1.2rem;
    }
  }

  .full-width {
    .name {
      font-size: 0.8rem;
    }

    input {
      font-size: 0.8rem;
    }
  }

  .check-holder {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    .section {

      mat-checkbox {
        font-size: 0.8rem;
      }
    }

    &>a {
      font-size: 0.8rem;
    }
  }

  .break-container {
    .or {
      font-size: 0.8rem;
    }
  }

  .login-button {
    font-size: 0.9rem;
    padding: 1.2rem 0rem;
  }
}