<div class="container">
    <div class="header">
        <h1>Edit Bio</h1>
    </div>
    <div class="editor">
        <mat-form-field appearance="outline">
            <mat-label>Bio</mat-label>
            <textarea matInput [(ngModel)]="data.bio" rows="15" cols="30"></textarea>
        </mat-form-field>
    </div>
    <div class="btn">
        <button mat-stroked-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button class="save" [mat-dialog-close]="data.bio" cdkFocusInitial>Save</button>
    </div>
</div>