.section-1,
.section-2,
.section-3,
.section-4 {
    width: 100%;
    height: 80%;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-2,
.section-4 {
    background-color: var(--color-1);
}

.section-2>div,
.section-3>div,
.section-4>div {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.img-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 75%;
        min-width: 50%;
        height: auto;
        mix-blend-mode: multiply;
    }
}

.section-2>div>div,
.section-3>div>div,
.section-4>div>div {
    width: 100%;
    height: 100%;
}

.bold {
    font-weight: 700;
}

.section-1>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 48px;
    font-weight: 800;
    color: var(--color-4);
}

.idea-button {
    margin-bottom: 2rem;

    button {
        font-weight: 700;
        font-size: 20px;
        color: var(--color-4);

        height: 3rem;
        width: 200px;
        margin: 1rem;
    }

    .idea-left {
        background-color: #00000000;
        border: 1px solid rgba(var(--color-4-rgb), $alpha: 0.25);
    }

    .idea-right {
        background-color: var(--color-1);
        box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), $alpha: 0.5);
    }
}

.big-title-description {
    font-size: 30px;
    font-weight: 400;
    color: var(--color-4);
    text-align: center;
}


.words {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: var(--color-4);
}

.title {
    font-size: 30px;
    font-weight: 700;
}

.description {
    font-size: 24px;
    font-weight: 400;
}

.left {
    justify-content: flex-end;
}

.left>div {
    margin-right: 5rem;
}

.right {
    justify-content: flex-start;
}

.right>div {
    margin-left: 5rem;
}

.center {
    justify-content: center;
}


@media screen and (max-width: 1200px) {
    .section-1 {
        height: 100%;

        .big-title {
            font-size: 36px;
        }

        .idea-button {
            button {
                font-size: 18px;
            }
        }

        .big-title-description {
            font-size: 24px;
        }
    }


    .section-1,
    .section-2,
    .section-3,
    .section-4 {
        height: auto;
        padding: 2.5rem 0rem;
    }

    .section-1>div,
    .section-2>div,
    .section-3>div,
    .section-4>div {
        flex-direction: column;
        text-align: center;
    }

    .title,
    .description {
        br {
            display: none;
        }
    }

}

@media screen and (max-width: 850px) {

    .section-1 {
        .big-title {
            font-size: 28px;
        }

        .idea-button {
            button {
                font-size: 16px;
                height: 2.5rem;
                width: 150px;
            }
        }

        .big-title-description {
            font-size: 20px;
        }
    }



    .words,
    .words>div {
        padding: 0rem 2rem;
        width: calc(100% - 4rem);
    }

    .title {
        font-size: 24px;
    }

    .description {
        font-size: 18px;
    }
}

@media screen and (max-width: 650px) {
    .section-1 {
        padding: 4rem 1rem;
        width: calc(100% - 2rem);

        .big-title {
            font-size: 18px;
        }

        .idea-button {
            margin-bottom: 1rem;

            button {
                margin: 0.5rem;
                font-size: 16px;
                height: 2.5rem;
                width: 150px;
            }
        }

        .big-title-description {
            font-size: 18px;
        }
    }

    .words,
    .words>div {
        padding: 0rem 1rem;
        width: calc(100% - 2rem);
    }

    .title {
        font-size: 18px;
    }

    .description {
        font-size: 16px;
    }
}