<app-navbar></app-navbar>
<div class="section-1">
  <div>
    <div class="big-title">
      <h1>LET YOUR IDEA GROW</h1>
    </div>
    <div class="idea-button">
      <button class="idea-left" mat-button>Temporary Idea</button>
      <button class="idea-right" mat-button>Save your Idea</button>
    </div>
    <div class="big-title-description">
      <p>...This is the place for your idea flow in mind come true<br>Wherever you are. Whenever you want.
        <br>Open Write<span class="bold">Flow</span> and let your mind <span class="bold">flow</span>, but never
        lose <span class="bold">control</span>...
      </p>
    </div>
  </div>
</div>
<div class="section-2">
  <div>
    <div class="words" [ngClass]="innerWidth >= 1200 ? 'left' : 'center'">
      <div>
        <div class="title">
          <h1>Create your<br>idea instantly</h1>
        </div>
        <div class="description">
          <p>Write<span class="bold">Flow</span> is a site to write your idea<br> whenever you want like a text
            editor<br> with necessary
            tool
          </p>
        </div>
      </div>
    </div>
    <div class="img-container">
      <img src="../../../assets/business-idea/3081627.jpg">
    </div>
  </div>
</div>
<div class="section-3">
  <div>
    <div class="img-container">
      <img src="../../../assets/share idea/Man selling idea for startup.jpg">
    </div>
    <div class="words" [ngClass]="innerWidth >= 1200 ? 'right' : 'center'">
      <div>
        <div class="title">
          <h1>Share your idea<br>to anyone</h1>
        </div>
        <div class="description">
          <p>Write<span class="bold">Flow</span> can help you to share<br> your idea with a simple click </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section-4">
  <div>
    <div class="words" [ngClass]="innerWidth >= 1200 ? 'left' : 'center'">
      <div>
        <div class="title">
          <h1>Discuss about<br>your idea</h1>
        </div>
        <div class="description">
          <p>Write<span class="bold">Flow</span> has a community to<br> help your share your idea to<br> improve
            your skill</p>
        </div>
      </div>
    </div>
    <div class="img-container">
      <img src="../../../assets/discuss/5469.jpg">
    </div>
  </div>
</div>
<app-footer></app-footer>