<mat-dialog-content>
    <div mat-dialog-actions class="">
        <button mat-icon-button matTooltip="Basic" aria-label="Example icon-button with a close icon" class="Close">
            <mat-icon>close</mat-icon>
          </button>
    </div>
    <div mat-dialog-content class="Title"> Share "Document1.docx" </div>
<!-- Search Input, Invite Button -->
<div>

    <input class="Search" type="text" placeholder="Type user email" [(ngModel)]="formData">

    <button mat-raised-button type="button" class="Select-Access-Button">

      <mat-select class="Select-Access" value="canView" (selectionChange)="changeRole">
        <mat-option class="Select-Access-Option" value="canView" >Viewer</mat-option>
        <mat-option class="Select-Access-Option" value="canEdit">Editor</mat-option>
      </mat-select>
    </button>

    <button mat-fab extended class="Invite" (click)="invite()"> Invite </button>
    </div>
    <!-- End -->
    <!-- People list -->
<div mat-dialog-content class="List-Title"> List of people who have access </div>
<div class="grid-container">
    <div class="Person-Name"><div class="P"><div><img src="../../../assets//p1.png"></div> <div class="P-Info">Nguyễn Văn A <br> <div class="P-Email"> vana01@gmail.com</div></div></div></div>
    <div class="grid-item2"> Owner </div>
    <div class="Person-Name"><div class="P"><div><img src="../../../assets//p1.png"></div> <div class="P-Info">Nguyễn Văn B <br> <div class="P-Email"> vana01@gmail.com</div></div></div></div>
    <div class="grid-item4"><select class="People-Access-List">
        <option value="Viewer"> Viewer </option>
        <option value="Editor"> Editor </option> <hr>
        <option value="Delete"> Delete </option>
    </select></div>
    <div class="Person-Name"><div class="P"><div><img src="../../../assets//p1.png"></div> <div class="P-Info">Nguyễn Văn C <br> <div class="P-Email"> vana01@gmail.com</div></div></div></div>
    <div class="grid-item6"><select class="People-Access-List">
        <option value="Viewer"> Viewer </option>
        <option value="Editor"> Editor </option> <hr>
        <option value="Delete"> Delete </option>
    </select></div>

  </div>
<!-- End -->
<div class="General-Text"> General access </div> <br>
    <div class="Display">
        <div class="">
            <mat-icon class="security-icon">security</mat-icon>
    </div>
        <div>
            <button mat-raised-button type="button" color="primary" class="Select-Button">
                <mat-select class="Access-Select"[(value)]="selected2" [compareWith]="compareFn">
                  <mat-select-trigger> <div class="Div-Group1"><div class="Option-Icon"><mat-icon class="">{{selected2.icon}}</mat-icon></div><div class="Option-Value1">{{selected2.viewValue}}</div></div></mat-select-trigger>
                  <mat-option class="Select-Option" *ngFor="let option of options" [value]="option">
                    <div class="Div-Group2"><div class="Option-Icon"><mat-icon>{{option.icon}}</mat-icon></div><div class="Option-Value">{{option.viewValue}}</div></div>
                  </mat-option>
                </mat-select>
                </button>

            <div class="Only"> Only people with access can open with the link  </div><br>
        </div>
    <!-- Copy-Link Button -->
    <div><button mat-fab extended class="Copy-Link">

        <div class="Icon-Text"><div class="Copy-Icon"><mat-icon >link</mat-icon></div> <div class="Copy-Text">Copy link</div></div></button>
    </div>
      <!-- End -->
    </div>
</mat-dialog-content>

