@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');
mat-dialog-content{
    background-color: #F4F6FF;
}
.P{
    display: flex;
}
.P-Info{
    margin-top: 0.7rem;
    
}
.dialog{
    border-radius: 10px;
    background-color: #F4F6FF;
    border-color: rgba(var(--color-4-rgb), 0.8);
    position: absolute;
    float: left;
  left: 38%;
  top: 50%;
  justify-items: center;
  align-items: center;
   
  transform: translate(-50%, -50%);
}
.grid-item2, .People-Access-List{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    border-radius: 5px;
    background-color: #F4F6FF;
    text-align-last:center;
    width:5rem;
    margin-left: 1.6rem;
}
.grid-item2{
    margin-left:1.5rem;
    height: 1.5rem;
}
.Person-Name{
    color: #424874;
   
}
.grid-container {
    
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
    column-gap: 13rem;
    padding: 10px;
    max-height: 8rem;
    overflow-y:scroll;
   
  }
.Display{
    display: flex;
}
.Invite{
    background-color: #424874;
    color: #F4F6FF;
    border-radius: 10px;
    border-color: rgba(var(--color-4-rgb), 0.25);
    height: 2.25em;
    width: 8rem;
    font-size: 18px;
    margin-left: 0.7em;
    border-color: #F4F6FF;
    
}
.Only{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: 400;
    font-size: 17px;
    margin-top: 0.5rem;
    margin-left: 1rem;
    line-height: 0.9;
    
}

.General-Text{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 22px;
}
.Access-Select{
    width: 11rem;
    color: #424874;
    margin-bottom: 0.35rem;
}
.Select-Option{
    
}
.Select-Button{
    color:#424874;
    font-size: 17px;
    width: 12rem;
    margin-top: 0.4rem;
    margin-left: 1rem;
}
.Option-Icon{
    color: #424874;
    margin-top:0.3rem;
}
.Option-Value{
    color:#424874;
}

.Option-Value1{
    font-size: 21px;
    color: #F4F6FF;
    margin-top: 0.68rem;
    margin-left: 0.3rem;
   
}


.Div-Group1{
    display: flex;
    
}
.Div-Group2{
    display: flex;
}
.Search{
    width: 22em;
    border-color: rgba(var(--color-4-rgb), 0.25);
    border-radius: 5px;
    background-color: #F4F6FF;
    color: #424874;
    margin-top: 1em;
    height: 2em;
    font-size: 17px;
    margin-left: 1.3rem;


    
}
.Title{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    font-size: 22px;
}
.List-Title{
    margin-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    font-size: 22px;
}


.security-icon{
    color: #424874;
    margin-right: 0.4em;
    margin-top: 2rem;
    
}


.Copy-Link{
    color: #fff;
    background-color: #424874;
    width: 8.45em;
    font-size: 17px;
    height: 3em;
    border-radius: 10px;
    margin-bottom: 1.3rem;
    margin-left: 1em;
    border-color: #F4F6FF;
    display: flex;
    margin-right: 1rem;
   margin-top: 0.6rem;
}
.Icon-Text{
    display: flex;
    margin-bottom: 0.3rem;
}
.Copy-Text{
    margin-top: 0.7rem;
    margin-left: 0.5rem;
}
.Copy-Icon{
    margin-top: 0.63rem;
}
.Close{
    color:#424874;
    position: absolute;
    top: 0;
  right: 0;
  padding: 0.5rem;
  line-height: 14px;
  font-size: 1.5rem;
  border-style: none;
  margin-right: 0.5rem;
  background-color: #F4F6FF;
}
.Close:hover{
 background-color: #424874;
 color: #F4F6FF;
}

option{
    text-align: center;
}
