.container {
    padding: 2rem;

    h1 {
        font-size: 1.2em;
        font-weight: 600;
        color: var(--color-4);
        margin-bottom: 1rem;
        margin-top: 0.5rem;
    }

    &>.header {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-bottom: 1rem;
    }


    &>.editor {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        width: 100%;
    }

    &>.btn {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            border-radius: 10px;
            color: var(--color-4);
            font-weight: 700;
            font-size: 1.1em;
            padding: 1.5rem;
        }

        &>.save {
            background-color: var(--color-1);
        }
    }
}