<div class="container">
  <div class="container-left">
    <div>
      <img src="../../../assets/Logo White.svg" alt="" width="150px">
      <h1>Write<span class="bold">Flow</span></h1>
      <p>Open Write Flow and let your mind flow, but never lose control</p>
    </div>
  </div>
  <div class="container-right">
    <div>
      <h3>LOGIN</h3>
      <button class="login-button" mat-button>
        <div class="google">
          <img src="../../../assets/Google.svg" height="25">
          <p>
            CONTINUE WITH GOOGLE
          </p>
        </div>
      </button>
      <button class="login-button" mat-button>
        <div class="facebook">
          <img src="../../../assets/Facebook.svg" height="25">
          <p>
            CONTINUE WITH FACEBOOK
          </p>
        </div>
      </button>

      <div class="break-container">
        <div class="break"></div>
        <div class="or">OR</div>
        <div class="break"></div>
      </div>

      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input class="input" matInput placeholder="Email" type="email" [formControl]="emailFormControl" required>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input class="input" matInput placeholder="Password" type="password">
      </mat-form-field>

      <div class="forgot">
        <a href="#">Forgot password?</a>
      </div>

      <section class="section">
        <mat-checkbox class="margin"><span>Keep me logged in</span></mat-checkbox>
      </section>

      <button mat-button class="login-button login">LOG IN</button>

      <div class="break"></div>

      <div class="dnt-account">
        <p>Don’t have an account?</p>
      </div>

      <button mat-button class="login-button signup">SIGN UP</button>

    </div>
  </div>
</div>