h3 {
  color: var(--color-4);
}

.bold {
  font-weight: 800;
}

.break-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  margin-bottom: 2rem;

  .or {
    font-weight: 700;
    font-size: 1rem;
    margin: 0 1rem;

    color: var(--color-4);
  }
}

.break {
  width: 100%;
  border-top: 1px solid var(--color-4);
}

.full-width {
  width: 100%;
}


.container {
  color: #FFF;

  width: 100%;
  height: 100%;
  background-color: var(--color-4);

  display: grid;
  grid-template-columns: 50% 50%;
}

.container-left>div,
.container-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-left {
  height: 100%;

  font-weight: 400;
  font-size: 1.5rem;

  h1 {
    margin-bottom: 0rem;
  }

  p {
    margin-top: 0rem;
    text-align: center;
  }

  div {
    height: 100%;
    width: calc(100% - 5rem);

    padding-left: 5rem;
  }
}

.container-right>div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: var(--color-2);
  border-radius: 10px;
  padding: 2rem 4rem;
}

.login-button {
  padding: 1.25rem 5rem;
  background-color: #FFF;
  border-radius: 10px;
  font-weight: 700;
  color: var(--color-4);

  margin: 0.5rem 0rem;
}

.google,
.facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  p {
    margin: 0;
    margin-left: 0.5rem;
  }
}

.forgot {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  a {
    color: var(--color-4);
    font-weight: 700;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;


  .margin {
    margin-left: -12px;

    font-weight: 500;

    span {
      color: var(--color-4);
    }
  }
}

.login,
.signup {
  width: 100%;
  padding: 1.5rem 0rem;
  font-size: 1rem;
}

.login {
  margin-bottom: 2rem;
}

.dnt-account {
  margin-top: 2rem;

  p {
    font-weight: 700;
    color: var(--color-4);
    font-size: 0.9rem;

    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: 100%;
  }

  .container-left {
    display: none;
  }

  .login-button {
    padding: 1.25rem 3rem;
  }

  .container-right>div {
    padding: 2rem 3rem;
  }
}