.dialog{
    border-radius: 10px;
    background-color: #F4F6FF;
    border-color: rgba(var(--color-4-rgb), 0.8);
    position: absolute;
    float: left;
  left: 40%;
  top: 50%;
  justify-items: center;
  align-items: center;
  
  transform: translate(-50%, -50%);
}
.Display{
    display: flex;
}
.Invite{
    background-color: #424874;
    color: #F4F6FF;
    border-radius: 5px;
    border-color: rgba(var(--color-4-rgb), 0.25);
    height: 2.2em;
    width: 7em;
    font-size: 18px;
    margin-left: 0.5em;
}
.Only{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: 400;
}
#Access-List{
    background-color: #F4F6FF;
}
.General-Text{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    margin-top: 0.5rem;
    font-size: 22px;
}
#Access-List{
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    border-radius: 5px;
}
.Search{
    width: 25em;
    border-color: rgba(var(--color-4-rgb), 0.25);
    border-radius: 5px;
    background-color: #F4F6FF;
    color: #424874;
    margin-top: 1em;
    height: 2em;
    font-size: 17px;
}
.Title{
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    font-size: 22px;
}
.List-Title{
    margin-top: 0.5em;
    font-family: 'Open Sans', sans-serif;
    color: #424874;
    font-weight: bold;
    font-size: 22px;
}

#lock-icon{
    color: #424874;
    margin-right: 0.5em;
}

.Copy-Link{
    color: #fff;
    background-color: #424874;
    width: 9em;
    font-size: 17px;
    height: 3em;
    border-radius: 10px;
    margin-top: 0.3em;
    margin-left: 1em;
}
.Close{
    color:#424874;
    position: absolute;
    top: 0;
  right: 0;
  padding: 5px;
  line-height: 14px;
}