<!-- Làm tạm confirm -->
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role Management</title>
</head>
<body>
    <dialog class="dialog" open >
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close class="Close">X</button>
        </div>
        <!-- icon warning -->
        <div  class="icon-warning"> <mat-icon [inline]="true">warning</mat-icon></div>

        <!-- End -->
        <div class="delete-question"> Deleting document?</div>
        <div class="sure-delete"> Are you sure to delete "<span>document1.docx</span>"?</div>
        <!-- Undo -->
        <div class="Undo-Div"> <div class="undo"> You can't undo this action </div>
        <mat-icon>error_outline</mat-icon>
        </div>
        <!-- 2 Button -->
        <div class="Yes-No-Button">
            <button mat-fab extended class="Yes-Button"> Yes </button>
            <button mat-fab extended class="No-Button"> No </button></div>
        
</dialog>
</body>
</html>
