// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$md-brightblue: (
    50 : #fefeff,
    100 : #fcfcff,
    200 : #fafbff,
    300 : #f7f9ff,
    400 : #f6f7ff,
    500 : #f4f6ff,
    600 : #f3f5ff,
    700 : #f1f3ff,
    800 : #eff2ff,
    900 : #ecefff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$FrontEnd-primary: mat.define-palette($md-brightblue);
$FrontEnd-accent: mat.define-palette($md-brightblue, A200, A100, A400);

// The warn palette is optional (defaults to red).
$FrontEnd-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$FrontEnd-theme: mat.define-light-theme((color: (primary: $FrontEnd-primary,
                accent: $FrontEnd-accent,
                warn: $FrontEnd-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($FrontEnd-theme);

/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;

    --color-1: #F4F6FF;
    --color-2: #A6B1E1;
    --color-3: #DCD6F7;
    --color-4: #424874;
    --color-5: #F4EEFF;

    --color-1-rgb: 244, 246, 255;
    --color-2-rgb: 166, 177, 225;
    --color-3-rgb: 220, 214, 247;
    --color-4-rgb: 66, 72, 116;
    --color-5-rgb: 244, 238, 255;
}

html,
body {
    margin: 0;
    padding: 0;
}


html,
body {
    height: 100%;
}
