.navbar-spacer {
    height: 64px;
    visibility: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    min-height: 100%;

    div {
        width: 100%;
        height: 100%;
        margin-bottom: 3rem;
    }
}

.quote {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            color: #fff;
            text-align: center;
        }
    }
}

.background-image {
    width: 100%;
    height: 100%;
    min-height: 700px;
    // max-height: 80%;
    background-image: url(../../../assets/about_.png);
    background-size: cover;
    background-position: center;
}


.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1,
    p {
        max-width: 60%;
        text-align: center;
        color: var(--color-4);
    }

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin: 1rem 0;
    }

    p {
        font-size: 1.4rem;
        font-weight: 400;
        margin: 1rem 0;
    }
}

$width-pc: 400px;
$width-mobile: 300px;
$width-mobile-small: 200px;
$width-mobile-smaller: 150px;
$width-mobile-smallest: 130px;
$grid-gap-pc: 2rem;
$grid-gap-mobile: 1rem;
$grid-gap-mobile-small: 0.5rem;

.member-container {
    div {
        margin-bottom: 1rem;
    }

    &>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &>div>div {
        display: grid;
        max-width: calc(2 * #{$width-pc} + #{$grid-gap-pc});
        grid-template-columns: $width-pc $width-pc;
        grid-gap: $grid-gap-pc;
    }

    &>h1 {
        color: var(--color-4);
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 4rem;
    }

    .card,
    .card>.description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        border-radius: 10px;
        background-color: var(--color-1);

        max-width: $width-pc;

        .profile-image {

            img {
                object-fit: cover;
                width: $width-pc;
                height: $width-pc;
                pointer-events: none;

                border-radius: 10px 10px 0px 0px;
            }
        }

        .description {

            h3,
            p {
                color: var(--color-4);
            }

            h3 {
                font-size: 1.5rem;
                font-weight: 700;
                margin: 0;
            }

            p {
                font-size: 1.0rem;
                font-weight: 400;
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 1330px) {
    .quote {
        grid-template-columns: 1fr;
    }

    .quote-spacer {
        display: none;
    }

    .background-image {
        min-height: 500px;
    }
}


@media screen and (max-width: 900px) {
    .about {

        h1,
        p {
            max-width: 100%;
            margin: 1rem 2rem;
            text-align: center;
            color: var(--color-4);
        }

        h1 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .member-container {
        &>div>div {
            grid-template-columns: $width-mobile $width-mobile;
            max-width: calc(2 * #{$width-mobile} + #{$grid-gap-pc});
        }

        &>h1 {
            font-size: 2.5rem;
        }

        .card {
            max-width: $width-mobile;

            .profile-image {

                img {
                    width: $width-mobile;
                    height: $width-mobile;
                }
            }

            .description {
                h3 {
                    font-size: 1.25rem;
                }

                p {
                    font-size: 0.9rem;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .quote {
        div {
            h1 {
                font-size: 2rem;
            }
        }
    }

    .background-image {
        min-height: 300px;
    }


}

@media screen and (max-width: 675px) {

    .member-container {
        &>div>div {
            grid-template-columns: $width-mobile-small $width-mobile-small;
            max-width: calc(2 * #{$width-mobile-small} + #{$grid-gap-mobile});
            grid-gap: $grid-gap-mobile;
        }

        .card {
            max-width: $width-mobile-small;

            .profile-image {

                img {
                    width: $width-mobile-small;
                    height: $width-mobile-small;
                }
            }

            .description {
                h3 {
                    font-size: 0.9rem;
                }

                p {
                    font-size: 0.75rem;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .quote {
        div {
            h1 {
                font-size: 1.4rem;
            }
        }
    }

    .about {

        h1,
        p {
            max-width: 100%;
            margin: 1rem 1rem;
            text-align: center;
            color: var(--color-4);
        }

        h1 {
            font-size: 2rem;
        }

        p {
            font-size: 1rem;
        }
    }


    .member-container {
        &>div>div {
            grid-template-columns: $width-mobile-smaller $width-mobile-smaller;
            max-width: calc(2 * #{$width-mobile-smaller} + #{$grid-gap-mobile});
            grid-gap: $grid-gap-mobile;
        }

        &>h1 {
            font-size: 2rem;
        }

        .card {
            max-width: $width-mobile-smaller;

            .profile-image {
                img {
                    width: $width-mobile-smaller;
                    height: $width-mobile-smaller;
                }
            }

            .description {
                h3 {
                    font-size: 0.6rem;
                }

                p {
                    font-size: 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 350px) {
    .member-container {
        &>div>div {
            grid-template-columns: $width-mobile-smallest $width-mobile-smallest;
            max-width: calc(2 * #{$width-mobile-smallest} + #{$grid-gap-mobile-small});
            grid-gap: $grid-gap-mobile-small;
        }

        .card {
            max-width: $width-mobile-smallest;

            .profile-image {
                img {
                    width: $width-mobile-smallest;
                    height: $width-mobile-smallest;
                }
            }
        }
    }


}