<app-navbar></app-navbar>
<div class="navbar-spacer"></div>
<div class="container">
    <div class="quote background-image">
        <div>
            <h1>"Fill your paper with the<br>breathings of your heart." <br>- William Wordsworth</h1>
        </div>
        <div class="quote-spacer"></div>
    </div>
    <div class="about">
        <h1>About Us</h1>
        <p>
          Writeflow is an online text editor similar to Microsoft Word, but with special features that help users focus more on writing. Here are some introductions to the app
        </p>
        <p>
          Simple and easy-to-use interface: Writeflow provides a simple and minimalist interface that helps users avoid distractions and focus more on writing
        </p>
        <p>
          Automatic saving and version control: Writeflow allows users to automatically save and manage different versions of their document, saving time and avoiding data loss
        </p>
        <p>"Flow" and "Typewriter" modes: Writeflow offers two modes, "Flow" and "Typewriter", which help users focus more on writing. The "Flow" mode hides distractions such as toolbars, sidebars or footers, while the "Typewriter" mode keeps the current line of text centered on the screen.</p>
        <p>Integration with cloud storage services: Writeflow integrates with cloud storage services such as Google Drive and Dropbox, making it easy for users to save and share their documents.
        </p>
        <p>Writeflow is a very useful application for people who need a focused and simple writing environment. You can use Writeflow to write documents such as essays, cover letters, or simply a journal."</p>
    </div>
    <div class="member-container">
        <h1>Members</h1>
        <div>
            <div>
                <div class="card" *ngFor="let member of members">
                    <div class="profile-image">
                        <img [src]="member.image" oncontextmenu="return false">
                    </div>
                    <div class="description">
                        <h3>{{member.name}}</h3>
                        <p>{{member.position}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
