mat-toolbar {
  background-color: var(--color-1);
  box-shadow: 0px 0px 4px 0px rgba(var(--color-4-rgb), 0.5);
  position: fixed;
  z-index: 9999;

  button {
    color: var(--color-4);
    margin: 0rem 0.25rem;
  }
}

::ng-deep.mat-icon-no-color {
  color: var(--color-4) !important;
}

.mat-toolbar-height {
  height: 64px;
}

@media screen and (max-width: 600px) {
  .mat-toolbar-height {
    height: 56px;
  }
}

.toolbar-item-spacer {
  flex: 1 1 auto;
}

.app-container {
  height: calc(100% - 64px);
  margin: 0;
}

$app-sidenav-width-pc: 300px;
$app-sidenav-width-mobile: 250px;

.app-sidenav {
  width: $app-sidenav-width-pc;
}

.app-sidenav-content {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-expansion-panel-header {
  color: var(--color-4);
  font-weight: 600;
  font-size: 1.1rem;
}

mat-nav-list>.list-item {
  color: var(--color-4);
  font-weight: 500;
  font-size: 1rem;

  &>mat-icon {
    color: var(--color-4);
  }
}


.side-bar-button {
  width: 100%;
  height: 48px;
  padding: 0px 24px;
  margin: 0.5rem 0;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  span {
    font-family: 'Open sans', 'sans-serif';
    color: var(--color-4);
    font-weight: 500;
    font-size: 1.1rem
  }
}

::ng-deep.mdc-list-item__primary-text {
  color: var(--color-4) !important;
}


.write,
.flow {
  font-size: 1.5rem;
}

.write {
  font-weight: 500;
  color: var(--color-4);
}

.flow {
  font-weight: 700;
  color: var(--color-4);
}


@media screen and (max-width: 600px) {
  .app-sidenav {
    width: $app-sidenav-width-mobile;
  }

  mat-expansion-panel-header {
    font-size: 0.8rem;
  }

  mat-nav-list>.list-item {
    font-size: 0.75rem;

    &>mat-icon {
      font-size: 1rem;
      line-height: 1rem;

      margin: 0px 10px;
    }
  }
}

@media screen and (max-width: 400px) {

  .write,
  .flow {
    display: none !important;
  }
}