<div class="container">
    <div>
        <div class="social">
            <img src="../../../assets/Instagram.svg" width="30px">
            <img src="../../../assets/Facebook.svg" width="30px">
            <img src="../../../assets/Twitter.svg" width="30px">
        </div>
        <div class="spacer"></div>
        <div class="logo">
            <img src="../../../assets/Logo White.svg" alt="logo" width="60px">
            <span class="write">Write</span>
            <span class="flow">Flow</span>
        </div>
    </div>
</div>