<div class="container">
  <div class="top-container">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Find</mat-label>
      <input matInput placeholder="Ex. Email" (change)="this.searchMail($event)">
      <button mat-icon-button matSuffix>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <div class="button-holder">
      <button mat-button [ngClass]="this.activeFilter=='all' ? 'selected' : ''"
        (click)="changeMailType('all')"><span>All</span></button>
      <button mat-button [ngClass]="this.activeFilter=='invite' ? 'selected' : ''"
        (click)="changeMailType('invite')"><span>Invited</span></button>
      <button mat-button [ngClass]="this.activeFilter=='accept' ? 'selected' : ''" matBadgePosition="after"
        matBadgeColor="warn" (click)="changeMailType('accept')"><span>Accepted</span></button>
      <button mat-button [ngClass]="this.activeFilter=='decline' ? 'selected' : ''"
        (click)="changeMailType('decline')"><span>Rejected</span></button>
    </div>
    <div class="filter">
      <button mat-icon-button [matMenuTriggerFor]="filter">
        <mat-icon>filter_list</mat-icon>
      </button>
      <mat-menu #filter="matMenu">
        <button mat-menu-item><span class="filter-item" (click)="changeMailType('all')">All</span></button>
        <button mat-menu-item><span class="filter-item" (click)="changeMailType('invite')">Invited</span></button>
        <button mat-menu-item><span class="filter-item" (click)="changeMailType('accept')">Accepted</span></button>
        <button mat-menu-item><span class="filter-item" (click)="changeMailType('decline')">Rejected</span></button>
      </mat-menu>
    </div>
  </div>

  <div class="mid-container">
    <div>
      <button mat-icon-button (click)="reloadEmail()"><mat-icon>loop</mat-icon></button>
    </div>
    <div class="spacer"></div>
    <div class="page">
      <button mat-icon-button (click)="changePage('decrease')"><mat-icon>keyboard_arrow_left</mat-icon></button>
      <p>{{startNumber+1}}-{{endNumber}} of {{this.filteredMail.length}}</p>
      <button mat-icon-button (click)="changePage('increase')"><mat-icon>keyboard_arrow_right</mat-icon></button>
    </div>
    <div class="spacer"></div>
  </div>

  <div class="email-holder">

    <mat-expansion-panel hideToggle *ngFor="let mail of this.filteredMail|slice:this.startNumber:10">
      <mat-expansion-panel-header>
        <div class="email-info">
          <span class="title-description">
            <span class="title">{{mail.sender.displayName}}</span>
            <span class="spacer"></span>
            <span class="description" *ngIf="mail.type!=='notify'">You have an invitation</span>
            <span class="description" *ngIf="mail.right=='accept'">Invitation Accepted</span>
            <span class="description" *ngIf="mail.right=='reject'">Invitation Rejected</span>
          </span>
          <span class="spacer"></span>
          <span class="date">{{this.shareFunction.getDate(mail.date)}}</span>
        </div>
      </mat-expansion-panel-header>
      <div class="content">
        <p *ngIf="mail.type!=='notify'">You are invited in document {{mail.doc.name}} by {{mail.sender.displayName}}</p>
        <p *ngIf="mail.right=='accept'">{{mail.sender.displayName}} has accepted your invitation to {{mail.doc.name}}
        </p>
        <p *ngIf="mail.right=='reject'">{{mail.sender.displayName}} has rejected your invitation to {{mail.doc.name}}
        </p>
        <div *ngIf="mail.type!=='notify'">
          <button mat-button (click)="acceptInvite(mail.id, mail.right, mail.doc.id)" class="accept">Accept</button>
          <button mat-button (click)="declineInvite(mail.id, mail.right, mail.doc.id)">Reject</button>
        </div>
      </div>
    </mat-expansion-panel>

  </div>
</div>
