.container{
  height: 100%;
  width: 100%;
}

.top-container{
  display: flex;
  width: 100%;
}

.full-width{
    width: 40rem;
    margin: 0.5rem 2rem 0 0.5rem;
    font-size: medium;
  .input-holder{
    color: var(--color-4);
    font-size: 1rem;
  }
}

.button-holder{
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 2.5rem;
  margin: auto;
  .button{
    color: var(--color-4);
    margin: 0 1.5rem 0 1rem;
    background-color: var(--color-3);
    height: 2.5rem;
    width: 10rem;
    border-radius: 10px;
    font-size: medium;
    font-weight: 700;
  }
}

.mid-container{
  background-color: var(--color-3);
  display: flex;
  justify-content: space-between;
  width: 99%;
  height: 2.5rem;
  border-radius: 10px;
  margin: 0.5rem 0 0.3rem 0.3rem;

  .move-button-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;

    p{
      font-size: medium;
      color: var(--color-4);
    }
  }

  .loop-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.3rem;
  }
}

.reload{
  border-radius: 10%;

  &:hover{
    background-color: var(--color-2);
  }
}
.email-container{
  display: flex;
  background-color: var(--color-4);
  color: var(--color-1);
  justify-content: space-between;
  font-size: medium;
  width: 100%;
  border-radius: 10px;
  height: 10%;
  align-items: center;
  margin-top: 0.5rem;

  .name{
    margin-left: 0.5rem;
  }
  .date{
    margin-right: 0.5rem;
  }
  .request{
    height: 20%;
    width: 40%;

    p{
      font-size: medium;
      display: flex;
      justify-content: center;
      text-align: center;
    }
  }
}

.panel-button-holder{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.panel{
  background-color: var(--color-4);
  border-radius: 10px;
  margin: 0.1rem 0.4rem 0.5rem 1rem;
}

.text{
  color: var(--color-1);
}
.panel-button{
  border-radius: 10px;
  background-color: var(--color-3);
  margin: 0 0.5rem 0 0rem ;
  align-items: center;
  color: var(--color-4);
  font-size: medium;
  font-weight: 500;
  width: 5rem;
}

.Open:hover{
  background-color: green;
}

.Close:hover{
  background-color: red;
}

.panel-header{
  margin-top: 0.5rem;
}

.email-holder{
  height: 80%;
  overflow: scroll;
}
.loading-state{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 90%;
  z-index: 10000;
}


