<div class="container">
  <div class="top-container">
      <mat-form-field class="full-width" appearance="outline">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label class="input-holder">Find</mat-label>
        <input matInput placeholder="Ex. Email">
      </mat-form-field>

      <div class="button-holder">
        <button mat-button class="button">Invited</button>
        <button mat-button class="button">Retrieved</button>
        <button mat-button class="button"
         matBadge="1" matBadgePosition="after" matBadgeColor="warn">Accepted</button>
        <button mat-button class="button">Rejected</button>
      </div>
  </div>

  <div class="mid-container">
    <div class="loop-button">
      <button mat-button class="reload" (click)="reloadEmail()" >
          <mat-icon>loop</mat-icon>
      </button>
    </div>
      <div class="move-button-holder">
      <button mat-button >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
        <p>1-100 of total 200</p>
      <button mat-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      </div>
      <div></div>
  </div>

  <div class="email-holder">
  <mat-accordion>
    <mat-expansion-panel hideToggle class="panel">
      <mat-expansion-panel-header >
        <div class="email-container">
          <div class="name">
            Nguyen Van A
          </div>
          <div class="request">
            <p>Nguyen Van A accepted your request </p>
          </div>
          <div class="date">
            01/03/2023
          </div>
        </div>
      </mat-expansion-panel-header>
      <p class="text">You’ve gotta dance like there’s nobody watching, love like you’ll never be hurt, sing like there’s nobody listening, and live like it’s heaven on earth.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
  </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel hideToggle class="panel">
      <mat-expansion-panel-header>
        <div class="email-container">
          <div class="name">
            Le Van B
          </div>
          <div class="request">
            <p>Le Van B sent you an invitation to join the project</p>
          </div>
          <div class="date">
            02/03/2023
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="panel-button-holder">
        <button mat-button class="panel-button Open"  (click)="AcceptRequest()">Acpect</button>
        <button mat-button class="panel-button Close" (click)="RejectRequest()">Reject</button>
      </div>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
  </mat-expansion-panel>

  </mat-accordion>
  <mat-accordion  class="panel-header">
    <mat-expansion-panel hideToggle class="panel">
      <mat-expansion-panel-header>
        <div class="email-container">
          <div class="name">
            You
          </div>
          <div class="request">
            <p>You have accepted the request from Le Van B</p>
          </div>
          <div class="date">
            02/03/2023
          </div>
        </div>
      </mat-expansion-panel-header>
      <p class="text">You’ve gotta dance like there’s nobody watching, love like you’ll never be hurt, sing like there’s nobody listening, and live like it’s heaven on earth.</p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
    (closed)="panelOpenState = false">
  </mat-expansion-panel>
</mat-accordion>
<!-- <div class="loading-state">
  <app-loading [fixed]="true" [loading]="true"></app-loading>
</div> -->
  </div>
</div>

