<div class="container">
  <div class="top-container">
      <form class="form">
      <mat-form-field class="full-width">
        <mat-icon matSuffix>search</mat-icon>
        <mat-label class="input-holder">Find</mat-label>
        <input matInput placeholder="Ex. Email" class="input">
      </mat-form-field>
      </form>

      <div class="button-holder">
        <button mat-button class="button">Invited</button>
        <button mat-button class="button">Retrieved</button>
        <button mat-button class="button"
         matBadge="1" matBadgePosition="after" matBadgeColor="warn">Accepted</button>
        <button mat-button class="button">Rejected</button>
      </div>
  </div>

  <div class="mid-container">
      <button mat-button >
          <mat-icon>loop</mat-icon>
      </button>
      <div class="move-button-holder">
      <button mat-button >
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
        <p>1-100 of total 200</p>
      <button mat-button >
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      </div>
  </div>

  <mat-accordion>
    <mat-expansion-panel hideToggle class="panel">
      <mat-expansion-panel-header>
        <div class="email-container">
          <div class="name">
            Nguyen Van A
          </div>
          <div class="request">
            Nguyen Van A accepted your request
          </div>
          <div class="date">
            01/03/2023
          </div>
        </div>
      </mat-expansion-panel-header>
      <div class="panel-button-holder">
        <button mat-button class="panel-button Open">Open</button>
        <button mat-button class="panel-button Close">Close</button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <app-loading [fixed]="true" [loading]="true"></app-loading>
</div>
