.container {
  width: calc(100% - 4rem);
  padding: 1rem 2rem;

  display: flex;
  flex-direction: column;
}

$filter-button-pc: 200px;

.top-container,
.top-container>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.top-container {
  .full-width {
    width: 100%;
  }

  .button-holder {
    &>button {
      width: $filter-button-pc;
      margin: 0rem 1rem;
      margin-bottom: 24px;
      padding: 1.5rem 1rem;

      background-color: var(--color-1);
      box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.5);

      color: var(--color-4);
      font-weight: 600;
      font-size: 1.2rem;


    }

    &>.selected {
      background-color: var(--color-4);
      color: var(--color-1);
    }
  }

}

.filter {
  display: none !important;


  $size-icon: 28px;
  $button-gap: 8px;

  &>button {
    font-weight: 500;
    color: var(--color-4);

    height: calc($size-icon * 2) !important;
    width: calc($size-icon * 2) !important;
    padding: auto;
    margin-bottom: 24px;
    margin-left: $button-gap;

    .mat-icon {
      width: $size-icon;
      height: $size-icon;
      font-size: $size-icon;
      line-height: $size-icon;
    }
  }
}

.filter-item {
  display: inline-block;
  margin: 1rem 2rem;
}

::ng-deep.mat-badge-content {
  background-color: #ff2c2c !important;
  color: var(--color-1) !important;
  font-size: 0.75rem !important;
}

.mid-container,
.mid-container>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.mid-container {
  background-color: var(--color-1);
  box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.5);

  &>.spacer {
    flex: 1 1 auto;
  }

  &>.page {
    color: var(--color-4);
    font-weight: 600;
  }
}

.email-holder {
  &>mat-expansion-panel {
    margin: 0.5rem 0rem;

    &>mat-expansion-panel-header {
      height: 4rem;
    }
  }

  .email-info,
  .email-info>.title-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .email-info {
    &>.date {
      color: var(--color-4);
      font-size: 1.2rem;
    }

    &>.title-description {

      &>.title,
      &>.description {
        color: var(--color-4);
        font-size: 1.2rem;
      }

      &>.title {
        font-weight: 600;
      }

      &>.description {
        margin-right: 1rem;
      }
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &>div>button {
      margin: 0rem 1rem;
      padding: 1.25rem 1rem;

      background-color: var(--color-1);
      box-shadow: 2px 2px 2px 0px rgba(var(--color-4-rgb), 0.5);

      color: var(--color-4);
      font-weight: 600;
      font-size: 1rem;
    }

    &>div>.accept {
      background-color: var(--color-4);
      color: var(--color-1);
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}


@media screen and (max-width: 1300px) {
  .top-container {
    flex-direction: column;

    .button-holder {
      width: calc(100% + 2rem);

      &>button {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .top-container {
    flex-direction: row;

    .button-holder {
      display: none;
    }
  }

  .filter {
    display: block !important;
  }

  .email-info {
    &>.date {
      font-size: 0.8rem !important;
    }

    &>.title-description {
      flex-direction: column !important;

      &>.title {
        font-size: 1rem !important;
      }

      &>.description {
        font-size: 0.8rem !important;
        margin-right: 0rem !important;
      }

      &>span {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
      }
    }
  }

  .content {
    width: 100%;
    flex-direction: column !important;
    align-items: flex-start !important;

    &>div {
      margin-top: 1rem;
    }
  }
}